body
{
    Background-image: ("laptop.jpg");
}
img
{
   display: top;
   text-align: center;
}
h1
{
    font-size: xx-large;
}
form
{
   text-Align:center;
}
table
{
    background-color: pink;
}
input[type=button]
{
    text-Align: center;
    Background-color:rgb(79, 226, 79);
}
li
{
    text-Align: right;
}